In [1]:
import pandas as pd

# Carga el archivo Parquet 'Clean_australian_user_reviews_FE.parquet' en DataFrame 'df1'
df1 = pd.read_parquet('../Datasets/Clean_Parquet_Data_Steam/Clean_australian_user_reviews_FE.parquet')

# Presenta las primeras y últimas filas del contenido del DataFrame df1
df1

,posted,item_id,recommend,user_id,user_url,language,sentiment_analysis
0,"Posted November 5, 2011.",1250,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,en,2
1,"Posted July 15, 2011.",22200,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,en,2
2,"Posted April 21, 2011.",43110,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,en,2
3,"Posted June 24, 2014.",251610,True,js41637,http://steamcommunity.com/id/js41637,en,2
4,"Posted September 8, 2013.",227300,True,js41637,http://steamcommunity.com/id/js41637,en,2
...,...,...,...,...,...,...,...
58426,Posted July 10.,70,True,76561198312638244,http://steamcommunity.com/profiles/76561198312...,en,2
58427,Posted July 8.,362890,True,76561198312638244,http://steamcommunity.com/profiles/76561198312...,en,2
58428,Posted July 3.,273110,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,en,2
58429,Posted July 20.,730,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,de,1
58430,Posted July 2.,440,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,es,2

In [3]:
import pandas as pd

# Carga el archivo Parquet 'Clean_output_steam_games.parquet' en DataFrame 'df2'
df2 = pd.read_parquet('../Datasets/Clean_Parquet_Data_Steam/Clean_output_steam_games.parquet')

# Presenta las primeras y últimas filas del contenido del DataFrame df2
df2

,genres,app_name,release_date,specs,price,early_access,id,developer
0,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,2018-01-04,Single-player,4.99,False,761140,Kotoshiro
1,"Free to Play, Indie, RPG, Strategy",Ironbound,2018-01-04,"Single-player, Multi-player, Online Multi-Play...",NaN,False,643980,Secret Level SRL
2,"Casual, Free to Play, Indie, Simulation, Sports",Real Pool 3D - Poolians,2017-07-24,"Single-player, Multi-player, Online Multi-Play...",NaN,False,670290,Poolians.com
3,"Action, Adventure, Casual",弹炸人2222,2017-12-07,Single-player,0.99,False,767400,彼岸领域
4,"Action, Adventure, Simulation",Battle Royale Trainer,2018-01-04,"Single-player, Steam Achievements",3.99,False,772540,Trickjump Games Ltd
...,...,...,...,...,...,...,...,...
22524,"Action, Adventure, Casual, Indie",Kebab it Up!,2018-01-04,"Single-player, Steam Achievements, Steam Cloud",1.99,False,745400,Bidoniera Games
22525,"Casual, Indie, Simulation, Strategy",Colony On Mars,2018-01-04,"Single-player, Steam Achievements",1.99,False,773640,"Nikita ""Ghost_RUS"""
22526,"Casual, Indie, Strategy",LOGistICAL: South Africa,2018-01-04,"Single-player, Steam Achievements, Steam Cloud...",4.99,False,733530,Sacada
22527,"Indie, Racing, Simulation",Russian Roads,2018-01-04,"Single-player, Steam Achievements, Steam Tradi...",1.99,False,610660,Laush Dmitriy Sergeevich
22528,"Casual, Indie",EXIT 2 - Directions,2017-09-02,"Single-player, Steam Achievements, Steam Cloud",4.99,False,658870,"xropi,stev3ns"

In [4]:
import pandas as pd

# Carga el archivo Parquet 'Clean_australian_users_items.parquet' en DataFrame 'df3'
df3 = pd.read_parquet('../Datasets/Clean_Parquet_Data_Steam/Clean_australian_users_items.parquet')

# Presenta las primeras y últimas filas del contenido del DataFrame df3
df3

,item_id,item_name,playtime_forever,playtime_2weeks,user_id
0,10,Counter-Strike,6,0,76561197970982479
1,20,Team Fortress Classic,0,0,76561197970982479
2,30,Day of Defeat,7,0,76561197970982479
3,40,Deathmatch Classic,0,0,76561197970982479
4,50,Half-Life: Opposing Force,0,0,76561197970982479
...,...,...,...,...,...
4938217,346330,BrainBread 2,0,0,76561198329548331
4938218,373330,All Is Dust,0,0,76561198329548331
4938219,388490,One Way To Die: Steam Edition,3,3,76561198329548331
4938220,521570,You Have 10 Seconds 2,4,4,76561198329548331
4938221,519140,Minds Eyes,3,3,76561198329548331

### End-point 1

In [10]:
#@app.get("/PlayTimeGenre/{genero}")
def PlayTimeGenre(genero: str):
    # Devuelve el año con mas horas jugadas para el género.
    # Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}
    
    # Elimina registros donde 'release_date' sea nulo
    df_aux = df2.dropna(subset=['release_date'])
    
    # Convierte 'release_date' a tipo datetime
    df_aux['release_date'] = pd.to_datetime(df_aux['release_date'], errors='coerce')
    
    # Elimina registros donde la conversión a datetime falló
    df_aux = df_aux.dropna(subset=['release_date'])
    
    # Extrae el año de 'release_date' y lo pone en columna 'release_year'
    df_aux['release_year'] = df_aux['release_date'].dt.year

    # Filtra por el género recibido como argumento 
    df_aux = df_aux[df_aux['genres'].apply(lambda x: genero in x)]
    
    # Une df_aux con df3
    df_aux = df_aux.merge(df3, left_on='id', right_on='item_id')
    
    # Agrupa por año y suma las horas jugadas
    df_aux = df_aux.groupby(df_aux['release_year'])['playtime_forever'].sum().reset_index()
    
    # Encuentra el año con más horas jugadas
    max_playtime_year = df_aux.loc[df_aux['playtime_forever'].idxmax()]['release_year']
    
    return {f"Año de lanzamiento con más horas jugadas para Género {genero}" : str(max_playtime_year)}


# Llamada de ejemplo a la función para el género 'Casual'
resultado = PlayTimeGenre('Casual')
#print(resultado)
resultado

{'Año de lanzamiento con más horas jugadas para Género Casual': '2015'}

### End-point 2

In [6]:
#@app.get("/UserForGenre/{genero}")
def UserForGenre(genero: str):
    # Devuelve el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año. 
    # Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

    # Elimina registros donde 'release_date' sea nulo
    df_aux = df2.dropna(subset=['release_date'])

    # Convierte 'release_date' a tipo datetime
    df_aux['release_date'] = pd.to_datetime(df_aux['release_date'], errors='coerce')

    # Elimina registros donde la conversión a datetime falló
    df_aux = df_aux.dropna(subset=['release_date'])

    # Extrae el año de 'release_date' y lo pone en columna 'release_year'
    df_aux['release_year'] = df_aux['release_date'].dt.year

    # Filtra por el género recibido como argumento
    df_aux = df_aux[df_aux['genres'].apply(lambda x: genero in x)]

    # Une df_aux con df3
    df_aux = df_aux.merge(df3, left_on='id', right_on='item_id')

    # Encuentra el usuario con más horas jugadas para el género dado. Para ello...
    # Agrupa por usuario el df_aux, y suma las horas jugadas, ordenando por estas en forma descendente, para tomar de la 1ra fila el max_playtime_user
    max_playtime_user = df_aux.groupby(['user_id'])['playtime_forever'].sum().reset_index().sort_values(by='playtime_forever', ascending=False).iloc[0]['user_id']

    # Filtra por el usuario con más horas jugadas para el género recibido como argumento
    df_aux = df_aux[df_aux['user_id'] == max_playtime_user]

    # Genera la lista de acumulación de horas jugadas por año para el usuario y género 
    # Toca pasar a horas la estadística en 'playtime_forever', pues está en minutos. https://steamcommunity.com/discussions/forum/1/3814039097896647393/
    playtime_by_year = df_aux.groupby(['release_year'])['playtime_forever'].sum().reset_index().sort_values(by='release_year', ascending=False)
    playtime_by_year['playtime_forever_Hrs'] = round(playtime_by_year['playtime_forever'] / 60, 0)
    playtimeHrs_by_year_list = [{"Año": int(row['release_year']), "Horas": int(row['playtime_forever_Hrs'])} for index, row in playtime_by_year.iterrows()]

    return {f"Usuario con más horas jugadas para Género {genero}": max_playtime_user, "Horas jugadas": playtimeHrs_by_year_list}


# Llamada de ejemplo a la función para el género 'Casual'
resultado = UserForGenre('Casual')
print(resultado)

{'Usuario con más horas jugadas para Género Casual': 'REBAS_AS_F-T', 'Horas jugadas': [{'Año': 2017, 'Horas': 1}, {'Año': 2016, 'Horas': 8304}, {'Año': 2015, 'Horas': 6037}, {'Año': 2014, 'Horas': 2032}, {'Año': 2013, 'Horas': 1799}, {'Año': 2012, 'Horas': 495}, {'Año': 2011, 'Horas': 1311}, {'Año': 2010, 'Horas': 201}, {'Año': 2009, 'Horas': 48}, {'Año': 2008, 'Horas': 21}, {'Año': 2007, 'Horas': 0}, {'Año': 2004, 'Horas': 116}, {'Año': 2002, 'Horas': 0}, {'Año': 1999, 'Horas': 0}]}

### End-point 3

In [7]:
#@app.get("/UsersRecommend/{annio}")
def UsersRecommend(annio: int): 
    import numpy as np
    # Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios 
    # positivos/neutrales)
    # Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

    # Filtra las recomendaciones por el año proporcionado
    df_aux = df1[df1['posted'].str.contains(str(annio))].copy()

    # Agrega columna 'good_review'. Valores True si 'recommend' es True y 'sentiment_analysis' es 1 o 2
    df_aux['good_review'] = np.where((df_aux['recommend'] == True) & (df_aux['sentiment_analysis'].isin([1, 2])), True, False)

    
    # Agrupa por juego (item_id) y suma las recomendaciones positivas, luego ordena dejando arriba los más recomendados
    # NOTA: si sumas una columna con True/False, el resultado obtenido es similar a contar los True, puesto que cada True se suma como 1 y cada False como 0
    df_aux = df_aux.groupby(['item_id'])['good_review'].sum().reset_index().sort_values(by='good_review', ascending=False)

    # Une df_aux con df2 a través del id del juego en uno y otro DataFrame. Es necesario para obtener el nombre del juego
    df_aux = df_aux.merge(df2, left_on='item_id', right_on='id')
    
    # Arma la lista con el top 3 de los juegos mas recomendados
    top3_most_recommended = [{"Puesto 1" : df_aux.iloc[0]['app_name']}, 
                             {"Puesto 2" : df_aux.iloc[1]['app_name']}, 
                             {"Puesto 3" : df_aux.iloc[2]['app_name']}]

    return top3_most_recommended


# Llamada de ejemplo a la función para el año 2010 
resultado = UsersRecommend(2010)
resultado

[{'Puesto 1': 'Team Fortress 2'},
 {'Puesto 2': 'Killing Floor'},
 {'Puesto 3': 'Alien Swarm'}]

### End-point 4

In [8]:
#@app.get("/UsersWorstDeveloper/{annio}")
def UsersWorstDeveloper(annio: int): 
    import numpy as np
    # Devuelve el top 3 de desarrolladoras con juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = 
    # False y comentarios negativos)
    # Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

    # Filtra las recomendaciones por el año proporcionado
    df_aux = df1[df1['posted'].str.contains(str(annio))].copy()
    
    # Agrega columna 'bad_review'. Valores True si 'recommend' es False y 'sentiment_analysis' es 0
    df_aux['bad_review'] = np.where((df_aux['recommend'] == False) & (df_aux['sentiment_analysis'] == 0), True, False)

    # Agrupa por juego (item_id) y suma las recomendaciones negativas, luego ordena dejando arriba los peores recomendados
    # NOTA: si sumas una columna con True/False, el resultado obtenido es similar a contar los True, puesto que cada True se suma como 1 y cada False como 0
    df_aux = df_aux.groupby(['item_id'])['bad_review'].sum().reset_index().sort_values(by='bad_review', ascending=False)

    # Une df_aux con df2 a través del id del juego en uno y otro DataFrame. Es necesario para obtener el nombre del desarrollador
    df_aux = df_aux.merge(df2, left_on='item_id', right_on='id')
    
    # Arma la lista con el top 3 de las desarrolladoras con juegos menos recomendados
    top3_least_recommended_dev = [{"Puesto 1" : df_aux.iloc[0]['developer']}, 
                                  {"Puesto 2" : df_aux.iloc[1]['developer']}, 
                                  {"Puesto 3" : df_aux.iloc[2]['developer']}]

    return top3_least_recommended_dev


# Llamada de ejemplo a la función para el año 2010 
resultado = UsersWorstDeveloper(2011)
resultado

[{'Puesto 1': 'Broken Rules'},
 {'Puesto 2': '1C Company'},
 {'Puesto 3': 'Valve'}]

### End-point 5

In [20]:
#@app.get("/sentiment_analysis/{empresa_desarrolladora}")
def sentiment_analysis(empresa_desarrolladora: str): 
    # Según la empresa desarrolladora, se devuelve un diccionario con el nombre de la desarrolladora como llave y una lista 
    # con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento 
    # como valor.
    # Ejemplo de retorno: {'Valve' : [Negative = 182, Neutral = 120, Positive = 278]}

    # Une df1 con df2 a través del id del juego en uno y otro DataFrame.
    df_aux = df1.merge(df2, left_on='item_id', right_on='id')

    # Filtra los registros en df_aux donde la columna 'developer' coincida con la 'empresa_desarrolladora' pasada como argumento
    df_aux = df_aux[df_aux['developer'] == empresa_desarrolladora]
    
    # Cuenta los valores únicos en la columna 'sentiment_analysis' y guarda los recuentos en variables separadas
    Negative = "Negative = " + str(df_aux['sentiment_analysis'].value_counts().get(0, 0))
    Neutral = "Neutral = " + str(df_aux['sentiment_analysis'].value_counts().get(1, 0))
    Positive = "Positive = " + str(df_aux['sentiment_analysis'].value_counts().get(2, 0))


    return {empresa_desarrolladora: [Negative, Neutral, Positive]}    

# Llamada de ejemplo a la función 
resultado = sentiment_analysis('Valve')
resultado

{'Valve': ['Negative = 1012', 'Neutral = 2461', 'Positive = 5970']}